---

---

<div>
  <div class="accordionItem">
    <h3 class="accordionTitle">Títol</h3>
    <div class="accordionContent">
      <ul>
        <li>
          <p>
            <span class="date">Any</span>

          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  const accordionTitles = document.querySelectorAll(".accordionTitle")
  accordionTitles.forEach((accordionTitle) => {
    accordionTitle.addEventListener("click", () => {
      if (accordionTitle.classList.contains("is-open")) {
        accordionTitle.classList.remove("is-open")
      } else {
        const accordionTitlesWithIsOpen = document.querySelectorAll(".is-open")
        accordionTitlesWithIsOpen.forEach((accordionTitleWithIsOpen) => {
          accordionTitleWithIsOpen.classList.remove("is-open")
        })
        accordionTitle.classList.add("is-open")
      }
    })
  })
</script>