---
import Layout from "../../layouts/AsideLayout.astro"
import Aside from "../../components/aside/aside.astro"

import Menu from "../../data/menuEscola.json"

const url = "/escola"
const pageTitle = "L'escola"
---

<Layout pageTitle={pageTitle}>
  <Aside slot="aside" url={url} pageTitle={pageTitle} Menu={Menu} />
  <div class="hero">
    <h1>Hero Banner L'escola</h1>
    <p>Fotografia de l'escola</p>
    <span class="line-separator"></span>
  </div>

  <section>
    <article>
      <p><strong>L'Escola de Puntaires de Barcelona</strong> es dedica a l’ensenyament de tot tipus de puntes, des de les més elementals fins a les d’estil propi, ja sigui en les tècniques de <em>coixí</em> o <em>agulla</em>, tant del nostre país com de la resta d’Europa. En són exemples en coixí les puntes belgues, angleses i italianes, i en agulla, les italianes i les franceses.</p>
      <p>L’especialitat de l’Escola és la <em>Punta de Barcelona</em> creada al segle XX per les seves fundadores, les germanes Raventós. Es tracta d’una punta elegant i original de característiques pròpies.</p>
      <p>Els coneixements i les investigacions de les esmentades germanes Raventós, les portaren a publicar el llibre <em>Puntes</em> un ampli tractat de les dues tècniques.</p>
      <p>La <strong>Fundació</strong> té per objecte l’ensenyament i el foment dels treballs artístics de randes i puntes d’agulla, a mà i amb boixets de qualsevol estil, amb especial suport als de l’estil tradicional català.</p>
      <p>En l’ànim de l’Escola està combinar, en una perfecta simbiosi, d’una banda la promoció de les puntes a l’agulla i al coixí, per tal d’evitar que es perdin definitivament les més belles i antigues tècniques, i d’una altra la formació de puntaires capaces de crear nous punts i nous dissenys.</p>
      <p>Aquest mateix fou l’esperit de les germanes Raventós, conegudes com <em>les senyoretes</em> en iniciar la nova escola, i l’esperit amb què el 1952 reberen, amb motiu de la celebració del Congrés Eucarístic, l’encàrrec d’elaborar unes tovalles per l’altar major de la catedral de Barcelona, combinant la punta a l’agulla i la punta al coixí. El resultat fou una peça amb caràcter propi, nou i diferent, que donà origen al que aleshores es batejà com a <strong>Punta de Barcelona</strong>, reconeguda arreu del món.</p>
      <p>Des fa anys l’Escola de Puntaires de Barcelona és considerada la <em>Universitat de les puntes</em>, ja que es dedica a l’ensenyament de la major part de les puntes que es fan a Europa. Els seus treballs són reproduïts en llibres i revistes de tot el món.</p>
    </article>
  </section>

  <section id="historia-escola">
    <article>
      <h2>Història de l'escola</h2>
      <p>Antònia (1885) i Montserrat (1889) Raventós i Ventura van néixer a Barcelona, però provenien d'una família de Vilafranca del Penedès. El pare fou enginyer i director d'una empresa del Poblenou, barri on les dues germanes van venir al món i on va viure amb la família fins a la mort del pare l'any 1932.</p>
      <p>Després anaren a viure, fins a la mort, a la dreta de l'Eixample barceloní. Les dues foren alumnes del col•legi de les Germanes Franciscanes del Poblenou.</p>
      <p>Persones molt cultes i cultivades, participaren de les activitats culturals del seu temps, eren expertes dibuixants, brodaven, tocaven el piano, entre d’altres.</p>
      <p>Mossén Ildefons Gatell, demanà a benemèrites dames barcelonines que fundessin una biblioteca femenina per instruir la Dona. Aquesta fundació tingué lloc als claustres de Santa Anna, a l'ombra de l'Associació de Bones Lectures. Aquestes senyores aviat s'adonaran que la dona no estava preparada per fer ús d'una biblioteca.</p>
      <p>Uns mesos més tard, precisament el 23 d'abril del 1910, hom inaugurava l'Institut de Cultura i Biblioteca Popular de la Dona en un bell edifici del carrer d'Elisabets, al costat de la Casa de La Misericòrdia.</p>
      <p>Diverses dames tenien cura d’aquesta obra; n’era presidenta la Sra. LLopart de Sivatte i vicepresidenta la Sra. Francesca Bonnemaison de Verdaguer i ambdues eren secundades per les senyoretes; Vicenta Carreras, germanes Baladia, Concepció Torner, Cot de Gimenez, Clara Font, Maria Lorente, etc.</p>
      <p>La Sra. Verdaguer, persona molt culta i molt dinàmica, a part de les classes d'estudi n'hi posà moltes d'altres de treballs manuals i d'artístics i, entre elles, de puntes: fou encomanada la de "Punt a l'Agulla" a Eugenia Torres, i la de "Punta al Coixí" a Julia Faralt.</p>
      <p>Com que ens agradaven els treballs manuals assistirem a aquestes classes de puntes i tafaneres, començàrem a mirar llibres i ens adonàrem que hi havia coses de les quals ningú no sabia com es feien. Aquí començà la nostra tasca de desxifrar les puntes, les tècniques de les quals s’havia perdut a casa nostra, i a còpia de paciència, de voluntat i de fer i desfer, arribàrem a descobrir els seus secrets.</p>
      <p>Per casualitat férem una visita a l'Arxiu Històric de la Ciutat i ens assabentàrem que hi havia una col•lecció de llibres de puntes procedent de la Col•lecció Massana. Tot llegint aquests llibres, beguérem la importància que havien tingut les puntes, en els sentits social, econòmic i artístic i anàvem pensant com podríem fer-ho per retornar-les al món.</p>
      <p>Al Arxiu ens foren donades totes les facilitats per dur a terme els nostres treballs d’estudi. Veient que no era suficient de prendre notes amb l’estilogràfica, ens permeteren de portar-hi les nostres eines de treball. Aquesta col•lecció del Sr. Massana és la més important de totes les de Barcelona i després segueix la del Museu.</p>
      <p>El gener del 1935, férem una exposició a la Casa de l’Ardiaca, en la qual presentàrem els treballs que havíem fet amb l’estudi dels llibres de la Casa. Després se’ns obriren les portes del Museu i el Sr. Joaquim Folch i Torres, molt gentilment, posà totes les puntes del Museu a la nostra disposició per a estudiar-les. En aquesta casa férem coneixença amb el Sr. Francesc Bofill, actualment Director del Museu de les Arts Decoratives i amb Dª Adelaida Ferré, que en aquell temps feia fitxes de les puntes del Museu, i que casualment abans que nosaltres, havia estat deixebla de les nostres professores de puntes.</p>
      <p>La sra. Adelaida Ferré, distingida mestra municipal que professava a l'Escola Lluïsa Cura, quan fou nomenada directora ens demanà si voldríem donar-hi unes classes de puntes. No volguérem dir-li que no, però anàrem amb poca fe, perquè aquell mateix curs, l'intent d'unes classes de puntes a l'Escola Massana, havien fracassat.</p>
      <p>La nostra sorpresa fou, el primer dia de classe, en trobar-nos amb setanta deixebles, disposades a endinsar-se en aquesta branca de les Belles Arts. Amb dinou anys de lliçons a l'Escola Lluïsa Cura s'han format un planter de deixebles i un renaixement de les puntes.</p>
    </article>
  </section>

  <section id="recursos-humans">
    <article>
      <h2>Recursos humans</h2>
      <p>L’Escola de Puntaires de Barcelona és una Fundació Privada, inscrita en el registre de Fundacions amb el nº 40, subjecta a la legislació de la Generalitat de Catalunya.</p>
      <table>
        <tr><th>Fundadores</th></tr>
        <tr><td>Antònia Raventós i Ventura</td></tr>
        <tr><td>Montserrat Raventós i Ventura</td></tr>
      </table>
      <table>
        <tr><th>Presidència</th></tr>
        <tr><td>Angelina Clar i Furnells</td></tr>
      </table>
      <table>
        <tr><th>Vice-presidència</th></tr>
        <tr><td>Glòria Bachs i Carceller</td></tr>
      </table>
      <table>
        <tr><th>Secretaría</th></tr>
        <tr><td>Isabel Moreno i Gili</td></tr>
      </table>
      <table>
        <tr><th>Vocalies</th></tr>
        <tr><td>Montserrat Sanarau i Roig</td><tr>
        <tr><td>Nativitat Gasulla i Fonfreda</td></tr>
        <tr><td>Montserrat Viader i Crous</td></tr>
        <tr><td>Anna M. Riera i Villarrubia</td></tr>
      </table>
      <table>
        <tr><th>Vocalies representants</th></tr>
        <tr><td>Institut Municipal d’Educació, Ajuntament de Barcelona</td></tr>
        <tr><td>Departament d’Ensenyament, Generalitat de Catalunya</td></tr>
      </table>
    </article>
  </section>

  <section id="cronologia">
    <article>
      <h2>Cronologia</h2>

      <div>
        <div class="accordionItem">
          <h3 class="accordionTitle">1890 - 1899</h3>
          <div class="accordionContent">
            <ul>
              <li><strong>1985:</strong> Neix <em>Antònia Raventós i Ventura</em>.</li>
              <li><strong>1989:</strong> Neix <em>Montserrat Raventós i Ventura</em>.</li>
            </ul>
          </div>
        </div>

        <div class="accordionItem">
          <h3 class="accordionTitle">1910 - 1919</h3>
          <div class="accordionContent">
            <ul>
              <li><strong>1910:</strong> Montserrat i Antònia Raventós i Ventura van iniciar un procés d’investigació i estudi de les puntes catalanes a la bibliografia de la col·lecció Massana, que les portà a recuperar els punts i les tècniques que s’havien perdut a casa nostra.</li>
            </ul>
          </div>
        </div>

        <div class="accordionItem">
          <h3 class="accordionTitle">1930 - 1939</h3>
          <div class="accordionContent">
            <ul>
              <li>
                <strong class="title">1931:</strong>
                <ul class="content">
                  <li>
                    <p><em>Adelaida Ferrer</em> publica l’article <em>Col·lecció de patrons de puntes al coixí</em> al <strong>Butlletí dels Museus d’Art de Barcelona</strong>.</p>
                  </li>
                </ul>
              </li>

              <li>
                <strong class="title">1932:</strong>
                <ul class="content">
                  <li>
                    <p>Les germanes <em>Antònia i Montserrat Raventós i Ventura</em> van començar a investigar en profunditat el món de les <strong>Puntes</strong>. Les senyoretes <em>Raventós</em> assistien a les classes de l’<em>Escola LLuïsa Cura</em> quan era la directora la Sra. <em>Adelaida Farré</em>. Al poc temps varen ser sol·licitades per impartir els seus coneixements com a professores a la mateixa escola.</p>
                  </li>
                </ul>
              </li>

              <li>
                <strong class="title">1934:</strong>
                <ul class="content">
                  <li>
                    <p><em>Adelaida Ferrer</em> publica l’article <em>Estris per a fer una punts de coixí</em> al <strong>Butlletí dels Museus d’Art de Barcelona</strong>.</p>
                  </li>
                </ul>
              </li>

              <li>
                <strong class="title">1935:</strong>
                <ul class="content">
                  <li>
                    <p>Aquest any varen participar en una exposició a la <strong>Casa de l’Ardiaca</strong> de Barcelona, seu de l’<em>Institut de Cultura i Biblioteca Popular de La Dona</em>, actual <strong>Arxiu Històric de la Ciutat</strong>. Els documents antics ja ens parlen d’aquesta exposició de l’any 1935, possiblement dins del programa d’actes de l’<strong>Institut de Cultura</strong> de l’època. Dissortadament dins dels arxius de l’<strong>Escola de Puntaires de Barcelona</strong> no se’n conserva cap imatge.</p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section id="estatuts">
    <article>
      <h2>Estatuts</h2>
      <p>Estatuts de la Fundació Privada ESCOLA de PUNTAIRES de BARCELONA adaptats Llei 4/2008 del llibre tercer del Codi Civil de Catalunya.</p>
      <ul class="accordion">
        <li class="block">
          <h3 class="title">Capítol I. Denominació, naturalesa, durada, domicili, àmbit d’actuació i règim jurídic.</h3>
          <ul class="content">
            <li>
              <article>
                <h4>Article 1. <em>Denominació, naturalesa i durada.</em></h4>
                <p>La Fundació és una entitat sense ànim de lucre que té el patrimoni, els rendiments i els recursos obtinguts afectats de forma permanent a la realització de les finalitats d’interès general previstes en aquests estatuts. La fundació es denomina FUNDACIÓ PRIVADA ESCOLA DE PUNTAIRES DE BARCELONA.</p>
              </article>
              <article>
                <h4>Article 2. <em>Domicili.</em></h4>
                <p>El domicili de la Fundació queda fixat a la ciutat de Barcelona (08001), carrer Sant Erasme, número 1, Baixos.</p>
              </article>
              <article>
                <h4>Article 3. <em>Àmbit d’actuació.</em></h4>
                <p>La Fundació exerceix les seves funcions majoritàriament a Catalunya. No obstant això, pot actuar a la resta del territori de l’Estat espanyol així com a escala internacional.</p>
              </article>
              <article>
                <h4>Article 4. <em>Règim jurídic.</em></h4>
                <p>La Fundació té personalitat jurídica pròpia i gaudeix de plena capacitat jurídica i d’obrar per aconseguir els seus fins sense altres limitacions que les establertes en aquests estatuts i en les disposicions legals vigents.</p>
                <p>La Fundació es regeix per les declaracions contingudes a la carta fundacional, per les disposicions legals que li són d’aplicació, per les establertes en aquests estatuts i pels acords que adopti el Patronat en l’exercici de les seves funcions.</p>
              </article>
            </li>
          </ul>
        </li>
        <li class="block">
          <h3 class="title">Capítol II. Finalitats i activitats.</h3>
          <ul class="content">
            <li>
              <article>
                <h4>Article 5. <em>Finalitats fundacionals.</em></h4>
                <p>La Fundació té per objecte l’ensenyament i el foment dels treballs artístics de randes i puntes d’agulla, a mà i amb boixets de qualsevol estil, amb especial suport als de l’estil tradicional català.</p>
              </article>
              <article>
                <h4>Article 6. <em>Activitats.</em></h4>
                <p>Per a la consecució dels fins fundacionals, la Fundació desenvolupa les activitats que el Patronat considera necessàries directament i/o en col•laboració amb altres entitats, institucions o persones, d’acord amb el que estableix la normativa sobre fundacions. En concret, a fi de dur a terme la finalitat fundacional, la Fundació desenvolupa, entre altres, les activitats que, sense ànim exhaustiu, s’enumeren a continuació:</p>
                <ul class="ul-table">
                  <li>L’establiment d’escoles d’aprenentatge.</li>
                  <li>La concessió de beques i ajuts per l’estudi de les especialitats.</li>
                  <li>L’organització de la propaganda de les puntes i randes oralment i per escrit.</li>
                  <li>La venda dels productes fabricats per les escoles de la fundació.</li>
                </ul>
              </article>
            </li>
          </ul>
        </li>
      </ul>
    </article>
  </section>
</Layout>

<style>
  .title {
    margin-top: 1.5rem;
    display: inline-block;
  }

  .content {
    list-style-type: square;
    padding-left: 2rem;

    li {
      margin: 0;
      padding: 0;

      p {
        font-size: 1rem;
      }
    }
  }

  .accordionItem {
    margin-bottom: .5rem;
  }

  .accordionTitle {
    cursor: pointer;
    user-select: none;
  }

  .accordionTitle + .accordionContent {
    display: none;
  }

  .accordionTitle {
    font-size: 1rem;
    position: relative;
    color: var(--fg-primary);

    &::after {
      content: "\64";
      font-family: "epbicons", sans-serif;
      position: absolute;
      right: .5rem;
      transition: all .1s ease;
    }
  }

  .accordionTitle.is-open + .accordionContent {
    display: block;
  }

  .accordionTitle.is-open {
    &::after {
      rotate: 180deg;
      transition: all .1s ease;
    }
  }

  .accordionContent {
    background-color: var(--bg-lighter);
    //border: 1px solid var(--fg-primary);
    border-radius: 4px;
    color: var(--color-text);
    padding: 1rem;

    ul {
      margin: 0;
    }

    li {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .hero {
    background-color: var(--bg-light);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    position: relative;

    & h1 {
      color: var(--fg-primary);
    }

    & .line-separator {
      width: 50%;
      height: 1px;
      background-color: var(--fg-primary);
      position: absolute;
      bottom: calc(var(--header-height) - calc(var(--header-height) + calc(var(--header-height) / 1.7)));
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  section {
    padding-top: calc(var(--header-height) + 2rem);

    @media (width < 1024px) {
      padding-top: var(--header-height);
    }
  }

  article {
    h2 {
      margin-bottom: 1.1rem;
      color: var(--fg-primary);
      border-bottom: 1px solid var(--fg-primary);
      font-size: 1.3rem;
    }

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>

<script>
  const accordionTitles = document.querySelectorAll(".accordionTitle")

  accordionTitles.forEach((accordionTitle) => {
    accordionTitle.addEventListener("click", () => {
      if (accordionTitle.classList.contains("is-open")) {
        accordionTitle.classList.remove("is-open")
      } else {
        const accordionTitlesWithIsOpen = document.querySelectorAll(".is-open")
        accordionTitlesWithIsOpen.forEach((accordionTitleWithIsOpen) => {
          accordionTitleWithIsOpen.classList.remove("is-open")
        })
        accordionTitle.classList.add("is-open")
      }
    })
  })
</script>