---

---

<section>
  <div class="wrapper">
    <article>
      <h2>Objectius</h2>
      <p>La Fundació té per objecte l’ensenyament i el foment dels treballs artístics de randes i puntes d’agulla, a mà i amb boixets de qualsevol estil, amb especial suport als de l’estil tradicional català.</p>
    </article>
  </div>
</section>

<style>
  section {
    background: linear-gradient(var(--bg-lightest), var(--bg-light));
    padding: var(--header-height) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    //align-items: center;
    gap: 2rem;

    h2 {

    }
  }
</style>