---

---

<section>
  <div class="wrapper">
    <img src="/assets/images/heros/senyoretes.png">
    <h2>"El 1962 es crea la Fundació del Patronat de la Fundació Antònia i Montserrat Raventós i Ventura, Escola de Puntaires de Barcelona, integrada a l'Escola Massana."</h2>
  </div>
</section>

<style>
  section {
    background: linear-gradient(var(--fg-primary), var(--fg-secondary));
    padding: var(--header-height) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .wrapper {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h2 {
      color: white;
      text-align: center;
    }
  }
</style>