---
import Layout from "../../layouts/AsideLayout.astro"
import Aside from "../../components/aside/aside.astro"

import Menu from "../../data/menuPuntaBarcelona.json"

const url = "/punta-de-barcelona"
const pageTitle = "Punta de Barcelona"
---

<Layout pageTitle={pageTitle}>
  <Aside slot="aside" url={url} pageTitle={pageTitle} Menu={Menu} />

  <div class="hero">
    <h1>Hero Banner Punta de Barcelona</h1>
    <p>Fotografia de punta de Barcelona</p>
    <span class="line-separator"></span>
  </div>

  <section class="section-scroll">
    <article>
      <p><strong>L'Escola de Puntaires de Barcelona</strong> es dedica a l’ensenyament de tot tipus de puntes, des de les més elementals fins a les d’estil propi, ja sigui en les tècniques de <em>coixí</em> o <em>agulla</em>, tant del nostre país com de la resta d’Europa. En són exemples en coixí les puntes belgues, angleses i italianes, i en agulla, les italianes i les franceses.</p>
      <p>L’especialitat de l’Escola és la <em>Punta de Barcelona</em> creada al segle XX per les seves fundadores, les germanes Raventós. Es tracta d’una punta elegant i original de característiques pròpies.</p>
      <p>Els coneixements i les investigacions de les esmentades germanes Raventós, les portaren a publicar el llibre <em>Puntes</em> un ampli tractat de les dues tècniques.</p>
      <p>La <strong>Fundació</strong> té per objecte l’ensenyament i el foment dels treballs artístics de randes i puntes d’agulla, a mà i amb boixets de qualsevol estil, amb especial suport als de l’estil tradicional català.</p>
      <p>En l’ànim de l’Escola està combinar, en una perfecta simbiosi, d’una banda la promoció de les puntes a l’agulla i al coixí, per tal d’evitar que es perdin definitivament les més belles i antigues tècniques, i d’una altra la formació de puntaires capaces de crear nous punts i nous dissenys.</p>
      <p>Aquest mateix fou l’esperit de les germanes Raventós, conegudes com <em>les senyoretes</em> en iniciar la nova escola, i l’esperit amb què el 1952 reberen, amb motiu de la celebració del Congrés Eucarístic, l’encàrrec d’elaborar unes tovalles per l’altar major de la catedral de Barcelona, combinant la punta a l’agulla i la punta al coixí. El resultat fou una peça amb caràcter propi, nou i diferent, que donà origen al que aleshores es batejà com a <strong>Punta de Barcelona</strong>, reconeguda arreu del món.</p>
      <p>Des fa anys l’Escola de Puntaires de Barcelona és considerada la <em>Universitat de les puntes</em>, ja que es dedica a l’ensenyament de la major part de les puntes que es fan a Europa. Els seus treballs són reproduïts en llibres i revistes de tot el món.</p>
    </article>
  </section>

  <section id="origen">
    <h2>L'origen</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores esse ipsa itaque molestiae nisi officia veritatis? Eius exercitationem illum nam repellat totam voluptatum? Accusamus adipisci aliquid amet architecto eum hic, magnam nostrum qui repellendus vel! Explicabo iure modi quisquam quod. Eligendi quibusdam quod repellat reprehenderit sapiente sint, tempore. A, asperiores beatae corporis enim mollitia nihil numquam quibusdam quisquam quos, sapiente soluta tenetur, veniam. Beatae ducimus eius natus nulla quod repudiandae sed similique. Accusantium aspernatur consequuntur, facilis iusto neque quaerat qui recusandae sunt suscipit voluptatem! A at atque blanditiis consectetur deleniti eligendi enim exercitationem itaque necessitatibus nemo, qui quos repellendus saepe, similique voluptatibus. Alias aliquid amet asperiores dolore ea exercitationem neque nisi officiis qui, rem. At consectetur consequatur eum eveniet, illum laboriosam libero molestias mollitia nemo neque nihil, nisi numquam odio officia officiis reiciendis repellendus sapiente suscipit temporibus vitae! A assumenda dolor, eos in minus odio tenetur voluptate! Accusamus aut officiis quasi. Assumenda at aut distinctio, dolorum eos, error maxime minus molestiae necessitatibus nisi quo repellat voluptatibus. Ducimus excepturi ratione rem totam! Accusamus aliquid asperiores aspernatur atque blanditiis consectetur corporis cupiditate debitis delectus deleniti dignissimos dolor dolores earum eligendi, ex excepturi expedita labore laboriosam laudantium magni maiores molestias nam nisi nostrum numquam porro quae quidem, quis quisquam quo repellendus repudiandae rerum sed, unde ut voluptas voluptatem. Aliquid corporis hic itaque laboriosam, minima modi necessitatibus nemo, neque nihil nisi non possimus praesentium quaerat quia quod rem rerum sed tempora voluptate voluptatem. Ad adipisci aliquid commodi, consectetur cumque ea eligendi esse exercitationem iusto libero magni quaerat quam quisquam, rem reprehenderit sequi voluptate. Accusantium aliquid aperiam deleniti distinctio dolor ducimus eveniet exercitationem id illum in, iste magnam magni minima modi neque nihil odio porro praesentium quae qui, quidem repudiandae suscipit ut. Ad alias aspernatur consequuntur cum deserunt dolores ducimus ea earum exercitationem facilis impedit labore magnam necessitatibus nihil odio officia optio quia quibusdam quos similique, sint sunt suscipit temporibus tenetur ullam, voluptatibus voluptatum! Aspernatur aut, dolorem earum, eligendi enim fuga ipsam maiores nihil omnis praesentium quidem quo, ratione rerum sapiente sint suscipit veniam. Accusamus alias animi architecto, consequuntur deleniti dolor doloribus hic illum laborum maxime numquam quaerat, quidem reprehenderit rerum ut. Ab, aspernatur blanditiis commodi cupiditate dignissimos earum fugit hic illo laboriosam, nobis porro reprehenderit, sit suscipit veniam veritatis voluptas voluptatum? Accusantium aspernatur at, blanditiis debitis, eveniet expedita fugiat incidunt itaque minima, nemo nisi obcaecati optio porro quae quasi quibusdam quis saepe sequi veritatis voluptatem. Accusamus amet asperiores aut commodi culpa cum cupiditate debitis deserunt dicta distinctio dolor earum eum excepturi hic iste maiores minima nam, necessitatibus nemo nulla odio possimus quam quas quos sit totam vitae voluptatum! Aspernatur deleniti earum eligendi eos esse est facere fugit id illo iure labore magni minus mollitia necessitatibus non numquam odit quos ratione sequi veritatis vero, vitae voluptatum? Animi assumenda at atque cupiditate, dolorum error esse, explicabo laborum magni nisi provident quaerat qui voluptatibus! Ad, asperiores assumenda atque beatae corporis doloribus ducimus ea eos et incidunt inventore iusto laboriosam nesciunt nostrum odit optio pariatur qui repudiandae rerum sapiente suscipit ut vel. Aliquam aspernatur at autem corporis doloribus ea, eius error est facere ipsam laboriosam magni minus nobis perspiciatis quam quas quasi quo reiciendis sit temporibus vel veniam voluptatibus! Deleniti dolore eligendi eos ex illum nobis quisquam voluptates? Aliquam, consequatur dolore dolorum ea eaque expedita facere maiores nostrum obcaecati optio quasi qui quidem quo. Ex, id veritatis. Culpa cum est incidunt ipsa odit quo quos repellendus saepe, sint voluptatem. Animi aperiam debitis dolores fuga laborum. Accusamus alias amet architecto assumenda atque corporis deserunt dolore dolorum ducimus eius enim excepturi explicabo, facere facilis harum illo illum incidunt libero maiores maxime mollitia neque nobis odit omnis pariatur perferendis possimus quae quasi recusandae similique sunt vel voluptas voluptates? Corporis reiciendis tempore veniam. A accusamus ad aperiam cupiditate eaque, eius id incidunt inventore ipsam officia pariatur, perferendis quidem rem repellendus suscipit? Animi doloribus eveniet ipsum labore, non officiis quae quisquam ratione rem ullam voluptate voluptatibus. Dolores mollitia nesciunt non placeat sint. Consequatur, impedit placeat? Labore, maiores possimus. A atque eos exercitationem expedita officia unde velit. Consequatur deleniti eos incidunt optio velit? Ab alias, libero minima neque nobis nostrum tempora. Alias animi architecto atque blanditiis consequuntur deleniti dolore doloremque ducimus eligendi enim exercitationem fuga hic incidunt inventore maxime minus nam nostrum quo recusandae repellendus sit soluta suscipit tempora, tempore totam ut vitae voluptates. Ad alias animi, autem blanditiis cumque cupiditate deleniti ducimus, in nesciunt quas quibusdam quisquam, ratione suscipit tempore vitae! Aspernatur pariatur quos ratione sunt totam veritatis voluptatibus! Ab cumque distinctio doloribus ea earum eligendi error in ipsam labore laborum minima molestias mollitia, nam nesciunt omnis optio perspiciatis, quasi qui quos, vitae. Aliquid aperiam architecto aspernatur consequatur culpa dolor eaque error eum expedita fugit ipsa labore nemo nostrum numquam officia placeat, quae quisquam recusandae reiciendis reprehenderit rerum tempora tenetur vitae voluptas voluptate. Aperiam asperiores consequatur cum dolore est in laboriosam maiores rem ut voluptatem! A adipisci amet assumenda dolores ea eius, est eum explicabo fugit in inventore ipsam iusto laboriosam libero magnam minus nam natus nostrum nulla officiis, provident quae quam quo ratione similique totam ullam ut veniam voluptatem voluptates! Ad aliquam aperiam debitis deserunt dolor doloribus ducimus earum est excepturi expedita fugiat, hic illum laboriosam modi nisi perspiciatis provident quia quidem sequi tempore temporibus totam ut voluptatibus? A amet dolore fuga ipsa, laborum magnam nesciunt quas quia repellendus similique tempora tenetur? Animi aspernatur consequatur culpa cupiditate doloremque id ipsum iusto laborum minima molestiae nulla, placeat porro qui quia quibusdam quis quisquam recusandae sed veniam voluptatum. Accusantium maiores molestiae nulla tempora. A accusamus aliquam aspernatur culpa cumque delectus distinctio, dolore dolorem doloremque dolores dolorum ducimus eius excepturi fugiat ipsam magni mollitia natus, nisi nulla officia optio perspiciatis quos reiciendis repellendus similique soluta veritatis voluptas. Ab aspernatur dolores iure minima voluptatum. Excepturi sed vero voluptatibus? Adipisci est maiores molestiae natus non recusandae ullam, voluptates? Deserunt exercitationem nemo repellat sequi! Adipisci commodi consequuntur cum cumque dolorem dolores earum enim est, illum inventore iste libero minima modi, nostrum perspiciatis repellendus sed soluta suscipit vero?</p>
  </section>

  <section id="tecnica">
    <h2>Tècnica</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores esse ipsa itaque molestiae nisi officia veritatis? Eius exercitationem illum nam repellat totam voluptatum? Accusamus adipisci aliquid amet architecto eum hic, magnam nostrum qui repellendus vel! Explicabo iure modi quisquam quod. Eligendi quibusdam quod repellat reprehenderit sapiente sint, tempore. A, asperiores beatae corporis enim mollitia nihil numquam quibusdam quisquam quos, sapiente soluta tenetur, veniam. Beatae ducimus eius natus nulla quod repudiandae sed similique. Accusantium aspernatur consequuntur, facilis iusto neque quaerat qui recusandae sunt suscipit voluptatem! A at atque blanditiis consectetur deleniti eligendi enim exercitationem itaque necessitatibus nemo, qui quos repellendus saepe, similique voluptatibus. Alias aliquid amet asperiores dolore ea exercitationem neque nisi officiis qui, rem. At consectetur consequatur eum eveniet, illum laboriosam libero molestias mollitia nemo neque nihil, nisi numquam odio officia officiis reiciendis repellendus sapiente suscipit temporibus vitae! A assumenda dolor, eos in minus odio tenetur voluptate! Accusamus aut officiis quasi. Assumenda at aut distinctio, dolorum eos, error maxime minus molestiae necessitatibus nisi quo repellat voluptatibus. Ducimus excepturi ratione rem totam! Accusamus aliquid asperiores aspernatur atque blanditiis consectetur corporis cupiditate debitis delectus deleniti dignissimos dolor dolores earum eligendi, ex excepturi expedita labore laboriosam laudantium magni maiores molestias nam nisi nostrum numquam porro quae quidem, quis quisquam quo repellendus repudiandae rerum sed, unde ut voluptas voluptatem. Aliquid corporis hic itaque laboriosam, minima modi necessitatibus nemo, neque nihil nisi non possimus praesentium quaerat quia quod rem rerum sed tempora voluptate voluptatem. Ad adipisci aliquid commodi, consectetur cumque ea eligendi esse exercitationem iusto libero magni quaerat quam quisquam, rem reprehenderit sequi voluptate. Accusantium aliquid aperiam deleniti distinctio dolor ducimus eveniet exercitationem id illum in, iste magnam magni minima modi neque nihil odio porro praesentium quae qui, quidem repudiandae suscipit ut. Ad alias aspernatur consequuntur cum deserunt dolores ducimus ea earum exercitationem facilis impedit labore magnam necessitatibus nihil odio officia optio quia quibusdam quos similique, sint sunt suscipit temporibus tenetur ullam, voluptatibus voluptatum! Aspernatur aut, dolorem earum, eligendi enim fuga ipsam maiores nihil omnis praesentium quidem quo, ratione rerum sapiente sint suscipit veniam. Accusamus alias animi architecto, consequuntur deleniti dolor doloribus hic illum laborum maxime numquam quaerat, quidem reprehenderit rerum ut. Ab, aspernatur blanditiis commodi cupiditate dignissimos earum fugit hic illo laboriosam, nobis porro reprehenderit, sit suscipit veniam veritatis voluptas voluptatum? Accusantium aspernatur at, blanditiis debitis, eveniet expedita fugiat incidunt itaque minima, nemo nisi obcaecati optio porro quae quasi quibusdam quis saepe sequi veritatis voluptatem. Accusamus amet asperiores aut commodi culpa cum cupiditate debitis deserunt dicta distinctio dolor earum eum excepturi hic iste maiores minima nam, necessitatibus nemo nulla odio possimus quam quas quos sit totam vitae voluptatum! Aspernatur deleniti earum eligendi eos esse est facere fugit id illo iure labore magni minus mollitia necessitatibus non numquam odit quos ratione sequi veritatis vero, vitae voluptatum? Animi assumenda at atque cupiditate, dolorum error esse, explicabo laborum magni nisi provident quaerat qui voluptatibus! Ad, asperiores assumenda atque beatae corporis doloribus ducimus ea eos et incidunt inventore iusto laboriosam nesciunt nostrum odit optio pariatur qui repudiandae rerum sapiente suscipit ut vel. Aliquam aspernatur at autem corporis doloribus ea, eius error est facere ipsam laboriosam magni minus nobis perspiciatis quam quas quasi quo reiciendis sit temporibus vel veniam voluptatibus! Deleniti dolore eligendi eos ex illum nobis quisquam voluptates? Aliquam, consequatur dolore dolorum ea eaque expedita facere maiores nostrum obcaecati optio quasi qui quidem quo. Ex, id veritatis. Culpa cum est incidunt ipsa odit quo quos repellendus saepe, sint voluptatem. Animi aperiam debitis dolores fuga laborum. Accusamus alias amet architecto assumenda atque corporis deserunt dolore dolorum ducimus eius enim excepturi explicabo, facere facilis harum illo illum incidunt libero maiores maxime mollitia neque nobis odit omnis pariatur perferendis possimus quae quasi recusandae similique sunt vel voluptas voluptates? Corporis reiciendis tempore veniam. A accusamus ad aperiam cupiditate eaque, eius id incidunt inventore ipsam officia pariatur, perferendis quidem rem repellendus suscipit? Animi doloribus eveniet ipsum labore, non officiis quae quisquam ratione rem ullam voluptate voluptatibus. Dolores mollitia nesciunt non placeat sint. Consequatur, impedit placeat? Labore, maiores possimus. A atque eos exercitationem expedita officia unde velit. Consequatur deleniti eos incidunt optio velit? Ab alias, libero minima neque nobis nostrum tempora. Alias animi architecto atque blanditiis consequuntur deleniti dolore doloremque ducimus eligendi enim exercitationem fuga hic incidunt inventore maxime minus nam nostrum quo recusandae repellendus sit soluta suscipit tempora, tempore totam ut vitae voluptates. Ad alias animi, autem blanditiis cumque cupiditate deleniti ducimus, in nesciunt quas quibusdam quisquam, ratione suscipit tempore vitae! Aspernatur pariatur quos ratione sunt totam veritatis voluptatibus! Ab cumque distinctio doloribus ea earum eligendi error in ipsam labore laborum minima molestias mollitia, nam nesciunt omnis optio perspiciatis, quasi qui quos, vitae. Aliquid aperiam architecto aspernatur consequatur culpa dolor eaque error eum expedita fugit ipsa labore nemo nostrum numquam officia placeat, quae quisquam recusandae reiciendis reprehenderit rerum tempora tenetur vitae voluptas voluptate. Aperiam asperiores consequatur cum dolore est in laboriosam maiores rem ut voluptatem! A adipisci amet assumenda dolores ea eius, est eum explicabo fugit in inventore ipsam iusto laboriosam libero magnam minus nam natus nostrum nulla officiis, provident quae quam quo ratione similique totam ullam ut veniam voluptatem voluptates! Ad aliquam aperiam debitis deserunt dolor doloribus ducimus earum est excepturi expedita fugiat, hic illum laboriosam modi nisi perspiciatis provident quia quidem sequi tempore temporibus totam ut voluptatibus? A amet dolore fuga ipsa, laborum magnam nesciunt quas quia repellendus similique tempora tenetur? Animi aspernatur consequatur culpa cupiditate doloremque id ipsum iusto laborum minima molestiae nulla, placeat porro qui quia quibusdam quis quisquam recusandae sed veniam voluptatum. Accusantium maiores molestiae nulla tempora. A accusamus aliquam aspernatur culpa cumque delectus distinctio, dolore dolorem doloremque dolores dolorum ducimus eius excepturi fugiat ipsam magni mollitia natus, nisi nulla officia optio perspiciatis quos reiciendis repellendus similique soluta veritatis voluptas. Ab aspernatur dolores iure minima voluptatum. Excepturi sed vero voluptatibus? Adipisci est maiores molestiae natus non recusandae ullam, voluptates? Deserunt exercitationem nemo repellat sequi! Adipisci commodi consequuntur cum cumque dolorem dolores earum enim est, illum inventore iste libero minima modi, nostrum perspiciatis repellendus sed soluta suscipit vero?</p>
  </section>

</Layout>

<style>
  .title {
    margin-top: 1.5rem;
    display: inline-block;
  }

  .content {
    list-style-type: square;
    padding-left: 2rem;

    li {
      margin: 0;
      padding: 0;

      p {
        font-size: 1rem;
      }
    }
  }

  .hero {
    background-color: var(--bg-light);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    position: relative;

    & h1 {
      color: var(--fg-primary);
    }

    & .line-separator {
      width: 50%;
      height: 1px;
      background-color: var(--fg-primary);
      position: absolute;
      bottom: calc(var(--header-height) - calc(var(--header-height) + calc(var(--header-height) / 1.7)));
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  section {
    padding-top: calc(var(--header-height) + 2rem);

    @media (width < 1024px) {
      padding-top: var(--header-height);
    }
  }

  article {
    h2 {
      margin-bottom: 1.1rem;
      color: var(--fg-primary);
      border-bottom: 1px solid var(--fg-primary);
      font-size: 1.3rem;
    }

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
</style>
