---
import Layout from "../layouts/DefaultLayout.astro"
import HeroSection from "../components/main/HeroIndexSection.astro"
import SenyoretesSection from "../components/main/SenyoretesIndexSection.astro"
import DiferentsSection from "../components/main/DiferentsIndexSection.astro"
import ObjectiusSection from "../components/main/ObjectiusIndexSection.astro"
import FormacioSection from "../components/main/FormacioIndexSection.astro"
---

<Layout pageTitle="Inici">
  <div class="snap-center">
    <HeroSection></HeroSection>
  </div>
  <div class="snap-center">
    <SenyoretesSection></SenyoretesSection>
  </div>
  <div class="snap-center">
    <DiferentsSection></DiferentsSection>
  </div>
  <div class="snap-center">
    <ObjectiusSection></ObjectiusSection>
  </div>
  <div class="snap-center">
    <FormacioSection></FormacioSection>
  </div>
</Layout>

<style>
  .snap-center {
    scroll-snap-align: start;
  }
</style>

