---
import Layout from "../layouts/IndexLayout.astro"
import HeroSection from "../components/main/HeroIndexSection.astro"
import SenyoretesSection from "../components/main/SenyoretesIndexSection.astro"
import DiferentsSection from "../components/main/DiferentsIndexSection.astro"
import ObjectiusSection from "../components/main/ObjectiusIndexSection.astro"
import FormacioSection from "../components/main/FormacioIndexSection.astro"

const pageTitle = "Inici"
---

<Layout pageTitle={pageTitle}>
  <div class="snap-center">
    <HeroSection></HeroSection>
  </div>
  <div class="snap-center">
    <SenyoretesSection></SenyoretesSection>
  </div>
  <div class="snap-center">
    <DiferentsSection></DiferentsSection>
  </div>
  <div class="snap-center">
    <FormacioSection></FormacioSection>
  </div>
  <div class="snap-center">
    <ObjectiusSection></ObjectiusSection>
  </div>
  <div class="snap-center">
    <h2>Punta de Barcelona</h2>
  </div>
  <div class="snap-center">
    <h2>Estils i mostres</h2>
  </div>
  <div class="snap-center">
    <h2>Projectes</h2>
  </div>
  <div class="snap-center">

  </div>
</Layout>

<style>
  .snap-center {
    scroll-snap-align: start;
  }
</style>

