---

---

<footer>
  <div class="wrapper">
    <nav>
      <ul>
        <li><a href="#" title="#">Avís legal</a></li>
        <li><a href="#" title="#">Política de privacitat</a></li>
        <li><a href="#" title="#">Política de cookies</a></li>
      </ul>
    </nav>
    <div class="copy">
      <p>&copy; Escola de Puntaires de Barcelona, 1962 - 2024
      </p>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--bg-darkest);
    color: white;
    display: flex;
    align-items: center;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    width: 90%;
    font-size: 12px;

    @media (width >= 640px) {
      flex-wrap: nowrap;
    }
  }

  nav {
    width: 100%;
    margin-bottom: 0;

    @media (width < 1366px) {
      margin-bottom: .5rem;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    gap: .5rem;

    @media (width >= 768px) {
      justify-content: flex-start;
    }
  }

  a {
    color: white;
  }

  .copy {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (width >= 640px) {
      justify-content: flex-end;
    }
  }
</style>