---
import "@fontsource-variable/open-sans"
import "@fontsource-variable/cinzel"
import "@fontsource-variable/manrope"
import "@fontsource/martel/400.css"
import "../styles/myfonts.css"
import "../styles/vars.css"

import Header from "../components/header/DefaultHeader.astro"
import Footer from "../components/footer/DefaultFooter.astro"

const { pageTitle } = Astro.props
const { title, description, faviconURL = "/assets/favicons/favicon-96.png", image = "/assets/images/opengraph/epb-hero.jpg" } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href={faviconURL}>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>EPB | {pageTitle}</title>
  </head>

  <body>
    <Header></Header>
    <main class="wrapper">
      <slot></slot>
    </main>
    <Footer></Footer>
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: var(--font-default);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--color-text);
    font-size: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  p {
    margin: 0;
    line-height: 2;
  }
</style>

<style>
  .wrapper {
    padding-top: var(--header-height);
  }
</style>
