---
import Header from "../components/header/DefaultHeader.astro"
import Footer from "../components/footer/DefaultFooter.astro"

const { pageTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>EPB | {pageTitle}</title>
  </head>

  <body>
    <Header></Header>
    <main>
      <h1>Astro Build</h1>
    </main>
    <Footer></Footer>
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }
</style>